In [9]:
import pandas as pd

# Load the uploaded CSV files
cities500_wide_path = "data/cities500_wide.csv"
ribcot_2014_path = "data/ribcot_2014.csv"

# Read the files into dataframes
cities500_wide_df = pd.read_csv(cities500_wide_path)
ribcot_2014_df = pd.read_csv(ribcot_2014_path)

In [17]:
# Cleaning the data

# renaming columns to make it more interpretable
cities500_wide_df = cities500_wide_df.rename(columns={
    "StateAbbr": "State",
    "Binge drinking among adults aged >=18 Years": "BingeDrinking",
    "Current smoking among adults aged >=18 Years": "SmokingRate",
    "No leisure-time physical activity among adults aged >=18 Years": "NoPhysicalActivity",
    "Obesity among adults aged >=18 Years": "ObesityRate",
    "Sleeping less than 7 hours among adults aged >=18 Years": "SleepDeprivation"
})

# Convert column names to match SQL case formatting
cities500_wide_df.columns = [col.lower() for col in cities500_wide_df.columns]

# repeat for ribcot_2014 dataset
ribcot_2014_df = ribcot_2014_df.rename(columns={
    "StateAbbr": "State",
    "CityName": "CityName",
    "Year": "Year",
    "GeoFIPS": "geoCode",
    "DMA": "dma",
    "Cancer": "cancer",
    "Cardiovascular": "cardiovascular",
    "Depression": "depression",
    "Diabetes": "diabetes",
    "Diarrhea": "diarrhea",
    "Obesity": "obesity",
    "Rehab": "rehab",
    "Stroke": "stroke",
    "Vaccine": "vaccine"
})


# Convert column names to match SQL case formatting
ribcot_2014_df.columns = [col.lower() for col in ribcot_2014_df.columns]

# download the final cleaned dataset
cleaned_cities500_wide_path = "data/cleaned_cities500_wide.csv"
cities500_wide_df.to_csv(cleaned_cities500_wide_path, index=False)

cleaned_ribcot_2014_path = "data/cleaned_ribcot_2014.csv"
ribcot_2014_df.to_csv(cleaned_ribcot_2014_path, index=False)

In [24]:
import pandas as pd

def generate_insert_statements(table_name, dataframe):
    """
    Generates and prints SQL INSERT statements for a given table and Pandas DataFrame.
    """
    if dataframe.empty:
        print(f"No data available for table {table_name}.")
        return

    columns = dataframe.columns.tolist()  # Get column names
    column_names = ", ".join(columns)

    # iterate through each row and handle different cases
    for _, row in dataframe.iterrows():
        values = []
        for col in columns:
            value = row[col]
            if pd.isna(value):
                values.append("NULL")
            elif isinstance(value, str):
                values.append(f"'{value}'")
            else:
                values.append(str(value))

        values_string = ", ".join(values)
        sql_statement = f"INSERT INTO {table_name} ({column_names}) VALUES ({values_string});"
        print(sql_statement)  # Print each SQL statement


# Read the CSV files
ribcot_df = pd.read_csv("data/cleaned_ribcot_2014.csv")
cities500_df = pd.read_csv("data/cleaned_cities500_wide.csv")

generate_insert_statements("cities500", cities500_df)
generate_insert_statements("ribcot", ribcot_df)

INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AK', 'Anchorage', 291826, 20.2, 18.3, 19.2, 27.7, 33.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Birmingham', 212237, 11.4, 22.0, 31.7, 39.0, 46.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Hoover', 81619, 15.7, 13.2, 17.8, 24.7, 34.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Huntsville', 180105, 12.3, 21.3, 24.9, 32.0, 39.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Mobile', 195111, 12.8, 22.0, 27.4, 37.6, 42.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Montgomery', 205764, 12.2, 21.3, 27.9, 36.8, 41.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AL', 'Tuscaloosa', 90468, 12.1, 23.2, 28.6, 38.5, 41.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AR', 'Fayetteville', 73580, 15.3, 21.3, 25.0, 30.4, 33.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AR', 'Fort Smith', 86209, 13.1, 26.1, 33.9, 35.8, 38.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AR', 'Jonesboro', 67263, 14.4, 24.3, 30.1, 32.9, 35.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AR', 'Little Rock', 193524, 13.8, 20.8, 26.7, 31.0, 36.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AR', 'Springdale', 69797, 13.9, 25.6, 33.6, 34.5, 36.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Avondale', 76238, 14.7, 18.5, 24.3, 30.1, 36.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Chandler', 236123, 16.2, 15.3, 17.4, 24.5, 32.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Gilbert', 208453, 17.2, 14.7, 15.6, 23.5, 32.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Glendale', 226721, 14.7, 19.8, 23.7, 29.6, 35.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Mesa', 439041, 15.6, 19.3, 21.3, 28.3, 34.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Peoria', 154065, 16.6, 17.4, 18.6, 26.0, 33.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Phoenix', 1445632, 14.5, 19.6, 24.1, 30.1, 35.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Scottsdale', 217385, 17.1, 14.0, 14.6, 23.2, 30.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Surprise', 117517, 16.4, 17.4, 18.5, 26.3, 33.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Tempe', 161719, 15.3, 17.5, 19.4, 27.2, 34.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Tucson', 520116, 13.7, 19.2, 22.6, 30.4, 34.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'AZ', 'Yuma', 93064, 15.2, 17.7, 24.9, 33.3, 36.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Alameda', 73812, 15.0, 11.9, 18.7, 18.7, 32.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Alhambra', 83089, 12.0, 12.2, 24.8, 18.1, 38.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Anaheim', 336265, 16.3, 15.2, 26.2, 23.3, 33.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Antioch', 102372, 15.8, 16.1, 24.4, 30.5, 37.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Apple Valley', 69135, 16.9, 18.1, 23.1, 27.0, 36.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Bakersfield', 347483, 16.8, 17.6, 27.1, 30.3, 34.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Baldwin Park', 75390, 14.3, 15.3, 30.0, 27.4, 38.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Bellflower', 76616, 14.9, 16.0, 25.9, 27.4, 39.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Berkeley', 112580, 15.8, 11.3, 16.5, 21.0, 30.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Buena Park', 80530, 15.8, 14.0, 24.4, 20.5, 33.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Burbank', 103340, 17.7, 13.4, 18.0, 21.9, 34.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Carlsbad', 105328, 19.7, 11.6, 15.8, 20.1, 31.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Carson', 91714, 14.0, 13.7, 23.8, 24.4, 39.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Chico', 86187, 18.4, 17.0, 20.6, 27.1, 33.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Chino', 77983, 16.9, 14.2, 22.4, 24.7, 36.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Chino Hills', 74799, 15.9, 10.7, 17.8, 18.6, 34.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Chula Vista', 243916, 16.6, 12.8, 24.0, 23.9, 35.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Citrus Heights', 83301, 18.3, 18.9, 20.4, 26.8, 32.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Clovis', 95631, 17.6, 13.8, 21.8, 23.6, 29.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Compton', 96455, 13.5, 19.4, 32.2, 35.5, 43.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Concord', 122067, 16.9, 14.5, 21.6, 27.5, 35.1);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Corona', 152374, 16.8, 14.6, 23.3, 26.3, 36.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Costa Mesa', 109960, 18.4, 14.4, 21.3, 22.2, 31.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Daly City', 101123, 12.7, 11.1, 23.2, 17.6, 35.1);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Downey', 111772, 16.0, 13.5, 23.8, 26.3, 36.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'El Cajon', 99478, 17.1, 19.2, 26.1, 27.1, 36.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'El Monte', 113475, 12.7, 17.0, 33.0, 26.4, 40.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Elk Grove', 153015, 15.8, 14.3, 19.3, 22.3, 32.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Escondido', 143911, 16.7, 17.1, 26.7, 26.5, 36.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Fairfield', 105321, 16.4, 15.8, 22.8, 26.7, 35.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Folsom', 72203, 19.5, 13.5, 15.2, 21.8, 29.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Fontana', 196069, 15.5, 15.6, 26.6, 28.1, 37.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Fremont', 214089, 13.7, 10.1, 18.7, 15.6, 32.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Fresno', 494665, 14.7, 16.8, 30.3, 28.7, 32.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Fullerton', 135161, 16.3, 13.7, 22.5, 20.6, 32.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Garden Grove', 170883, 14.5, 15.4, 28.1, 19.9, 35.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Glendale', 191719, 16.2, 15.3, 20.5, 22.5, 35.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Hawthorne', 84293, 14.3, 16.4, 26.6, 30.1, 40.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Hayward', 144186, 14.4, 14.5, 24.7, 23.8, 35.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Hemet', 78657, 15.4, 20.5, 29.1, 31.5, 39.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Hesperia', 90173, 15.9, 19.1, 26.8, 29.2, 37.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Huntington Beach', 189992, 19.6, 13.2, 18.0, 19.6, 30.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Indio', 76036, 15.4, 17.3, 29.6, 31.6, 38.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Inglewood', 109673, 13.8, 17.4, 27.9, 33.6, 42.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Irvine', 212375, 15.9, 10.1, 17.2, 15.6, 30.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Lake Forest', 77264, 19.2, 11.9, 17.9, 19.2, 30.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Lakewood', 80048, 16.8, 13.5, 19.7, 22.4, 36.2);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Lancaster', 156633, 15.8, 18.2, 25.5, 29.3, 39.3);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Livermore', 80968, 18.5, 12.8, 17.2, 21.0, 30.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Long Beach', 462257, 15.2, 15.6, 23.9, 26.2, 37.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Los Angeles', 3792621, 15.1, 15.6, 25.1, 26.7, 37.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Lynwood', 69772, 13.6, 18.6, 34.0, 34.2, 40.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Manteca', 67096, 17.1, 16.9, 25.1, 27.8, 34.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Menifee', 77519, 17.7, 16.2, 22.8, 27.0, 36.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Merced', 78958, 14.1, 18.5, 30.2, 31.6, 36.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Milpitas', 66790, 12.2, 10.4, 21.1, 15.2, 35.6);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Mission Viejo', 93305, 20.2, 11.9, 16.2, 18.8, 29.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Modesto', 201165, 16.4, 18.0, 25.6, 30.0, 35.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Moreno Valley', 193365, 14.8, 17.7, 29.3, 31.7, 40.1);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Mountain View', 74066, 15.7, 9.4, 15.7, 18.4, 31.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Murrieta', 103466, 17.8, 14.5, 20.3, 24.8, 35.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Napa', 76915, 17.8, 15.5, 21.6, 26.1, 30.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Newport Beach', 85186, 20.5, 10.5, 13.8, 17.8, 27.7);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Norwalk', 105549, 15.3, 14.4, 26.0, 26.5, 37.9);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Oakland', 390724, 14.0, 15.2, 24.5, 25.8, 36.0);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Oceanside', 167086, 18.0, 15.3, 22.6, 24.4, 35.4);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Ontario', 163924, 15.5, 16.2, 27.1, 28.4, 37.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Orange', 136416, 18.2, 14.0, 21.5, 21.6, 31.8);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Oxnard', 197899, 15.3, 15.5, 29.2, 27.8, 32.5);
INSERT INTO cities500 (year, state, cityname, population2010, bingedrinking, smokingrate, nophysicalactivity, obesityrate, sleepdeprivation) VALUES (2014, 'CA', 'Palmdale', 152750, 15.2, 17.5, 27.0, 29.6, 39.0);