In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

# Original CDC and RIBCOT

In [2]:
cdcdata = pd.read_csv('data/filtered_cities500_wide.csv')
ribcot = pd.read_csv('data/RegionalInterestByConditionOverTime.csv')

In [3]:
print(cdcdata.shape)
print(ribcot.shape)

(83, 9)
(210, 128)

In [4]:
print(cdcdata.info())
print(ribcot.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               83 non-null     object
 1   CityName            83 non-null     object
 2   population2010      83 non-null     int64
 3   cityfips            83 non-null     int64
 4   bingedrinking       83 non-null     float64
 5   smokingrate         83 non-null     float64
 6   nophysicalactivity  83 non-null     float64
 7   obesityrate         83 non-null     float64
 8   sleepdeprivation    83 non-null     float64
dtypes: float64(5), int64(2), object(2)
memory usage: 6.0+ KB
None
                  dma  geoCode  2004+cancer  2004+cardiovascular  2004+stroke  \
0  Portland-Auburn ME      500           44                    6           17
1         New York NY      501           47                    6           13
2       Binghamton NY      502           48                    3           16
3            Macon GA      503           44                   14           14
4     Philadelphia PA      504           52                    7           16

   2004+depression  2004+rehab  2004+vaccine  2004+diarrhea  2004+obesity  \
0               39          21            31             14            29
1               38          16            33             12            27
2               50          12            37             24            31
3               37          19            49             14            29
4               41          23            36             14            30

   ...  2016+diabetes  2017+cancer  2017+cardiovascular  2017+stroke  \
0  ...             81           70                   37           83
1  ...             77           70                   34           53
2  ...             74           68                   24           71
3  ...             78           53                   38           62
4  ...             80           75                   35           61

   2017+depression  2017+rehab  2017+vaccine  2017+diarrhea  2017+obesity  \
0               64          56            76             66            47
1               56          53            79             56            52
2               69          44            77             78            61
3               46          60            47             53            41
4               62          75            84             69            56

   2017+diabetes
0             80
1             78
2             72
3             66
4             78

[5 rows x 128 columns]

In [6]:
cdc_state = cdcdata['State'].unique()
print(cdc_state)
print(len(cdc_state))

['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'DC' 'FL' 'GA' 'HI' 'IA' 'IL' 'IN' 'KS'
 'KY' 'LA' 'MD' 'MI' 'MO' 'MS' 'MT' 'NC' 'NE' 'NV' 'NY' 'OH' 'OK' 'OR'
 'PA' 'SC' 'SD' 'TN' 'TX' 'UT' 'WA' 'WI']
36

In [7]:
ribcot_dma = ribcot['dma'].unique()
print(ribcot_dma)
print(len(ribcot_dma))

['Portland-Auburn ME' 'New York NY' 'Binghamton NY' 'Macon GA'
 'Philadelphia PA' 'Detroit MI' 'Boston MA-Manchester NH' 'Savannah GA'
 'Pittsburgh PA' 'Ft. Wayne IN' 'Cleveland-Akron (Canton) OH'
 'Washington DC (Hagerstown MD)' 'Baltimore MD'
 'Flint-Saginaw-Bay City MI' 'Buffalo NY' 'Cincinnati OH' 'Erie PA'
 'Charlotte NC' 'Greensboro-High Point-Winston Salem NC' 'Charleston SC'
 'Augusta GA' 'Providence RI-New Bedford MA' 'Columbus GA'
 'Burlington VT-Plattsburgh NY' 'Atlanta GA' 'Albany GA' 'Utica NY'
 'Indianapolis IN' 'Miami-Ft. Lauderdale FL' 'Louisville KY'
 'Tallahassee FL-Thomasville GA' 'Tri-Cities TN-VA'
 'Albany-Schenectady-Troy NY' 'Hartford & New Haven CT'
 'Orlando-Daytona Beach-Melbourne FL' 'Columbus OH' 'Youngstown OH'
 'Bangor ME' 'Rochester NY' 'Tampa-St. Petersburg (Sarasota) FL'
 'Traverse City-Cadillac MI' 'Lexington KY' 'Dayton OH'
 'Springfield-Holyoke MA' 'Norfolk-Portsmouth-Newport News VA'
 'Greenville-New Bern-Washington NC' 'Columbia SC' 'Toledo OH'
 'West Palm Beach-Ft. Pierce FL' 'Watertown NY' 'Wilmington NC'
 'Lansing MI' 'Presque Isle ME' 'Marquette MI'
 'Wheeling WV-Steubenville OH' 'Syracuse NY' 'Richmond-Petersburg VA'
 'Knoxville TN' 'Lima OH' 'Bluefield-Beckley-Oak Hill WV'
 'Raleigh-Durham (Fayetteville) NC' 'Jacksonville FL'
 'Grand Rapids-Kalamazoo-Battle Creek MI' 'Charleston-Huntington WV'
 'Elmira NY' 'Harrisburg-Lancaster-Lebanon-York PA'
 'Greenville-Spartanburg SC-Asheville NC-Anderson SC' 'Harrisonburg VA'
 'Florence-Myrtle Beach SC' 'Ft. Myers-Naples FL' 'Roanoke-Lynchburg VA'
 'Johnstown-Altoona PA' 'Chattanooga TN' 'Salisbury MD'
 'Wilkes Barre-Scranton PA' 'Terre Haute IN' 'Lafayette IN' 'Alpena MI'
 'Charlottesville VA' 'South Bend-Elkhart IN' 'Gainesville FL'
 'Zanesville OH' 'Parkersburg WV' 'Clarksburg-Weston WV'
 'Corpus Christi TX' 'Chicago IL' 'Joplin MO-Pittsburg KS'
 'Columbia-Jefferson City MO' 'Topeka KS' 'Dothan AL' 'St. Louis MO'
 'Rockford IL' 'Rochester MN-Mason City IA-Austin MN' 'Shreveport LA'
 'Minneapolis-St. Paul MN' 'Kansas City MO' 'Milwaukee WI' 'Houston TX'
 'Springfield MO' 'New Orleans LA' 'Dallas-Ft. Worth TX' 'Sioux City IA'
 'Waco-Temple-Bryan TX' 'Victoria TX' 'Wichita Falls TX & Lawton OK'
 'Monroe LA-El Dorado AR' 'Birmingham AL' 'Ottumwa IA-Kirksville MO'
 'Paducah KY-Cape Girardeau MO-Harrisburg-Mount Vernon IL'
 'Odessa-Midland TX' 'Amarillo TX' 'Austin TX'
 'Harlingen-Weslaco-Brownsville-McAllen TX'
 'Cedar Rapids-Waterloo-Iowa City & Dubuque IA' 'St. Joseph MO'
 'Jackson TN' 'Memphis TN' 'San Antonio TX' 'Lafayette LA'
 'Lake Charles LA' 'Alexandria LA' 'Greenwood-Greenville MS'
 'Champaign & Springfield-Decatur IL' 'Evansville IN' 'Oklahoma City OK'
 'Lubbock TX' 'Omaha NE' 'Panama City FL' 'Sherman TX-Ada OK'
 'Green Bay-Appleton WI' 'Nashville TN' 'San Angelo TX'
 'Abilene-Sweetwater TX' 'Madison WI'
 'Ft. Smith-Fayetteville-Springdale-Rogers AR' 'Tulsa OK'
 'Columbus-Tupelo-West Point MS' 'Peoria-Bloomington IL'
 'Duluth MN-Superior WI' 'Wichita-Hutchinson KS' 'Des Moines-Ames IA'
 'Davenport IA-Rock Island-Moline IL'
 'Mobile AL-Pensacola (Ft. Walton Beach) FL'
 'Minot-Bismarck-Dickinson(Williston) ND'
 'Huntsville-Decatur (Florence) AL' 'Beaumont-Port Arthur TX'
 'Little Rock-Pine Bluff AR' 'Montgomery (Selma) AL'
 'La Crosse-Eau Claire WI' 'Wausau-Rhinelander WI'
 'Tyler-Longview(Lufkin & Nacogdoches) TX' 'Hattiesburg-Laurel MS'
 'Meridian MS' 'Baton Rouge LA' 'Quincy IL-Hannibal MO-Keokuk IA'
 'Jackson MS' 'Lincoln & Hastings-Kearney NE' 'Fargo-Valley City ND'
 'Sioux Falls(Mitchell) SD' 'Jonesboro AR' 'Bowling Green KY' 'Mankato MN'
 'North Platte NE' 'Anchorage AK' 'Honolulu HI' 'Fairbanks AK'
 'Biloxi-Gulfport MS' 'Juneau AK' 'Laredo TX' 'Denver CO'
 'Colorado Springs-Pueblo CO' 'Phoenix AZ' 'Butte-Bozeman MT'
 'Great Falls MT' 'Billings, MT' 'Boise ID' 'Idaho Falls-Pocatello ID'
 'Cheyenne WY-Scottsbluff NE' 'Twin Falls ID' 'Missoula MT'
 'Rapid City SD' 'El Paso TX' 'Helena MT' 'Casper-Riverton WY'
 'Salt Lake City UT' 'Yuma AZ-El Centro CA' 'Grand Junction-Montrose CO'
 'Tucson (Sierra Vista) AZ' 'Albuquerque-Santa Fe NM' 'Glendive MT'
 'Bakersfield CA' 'Eugene OR' 'Eureka CA' 'Los Angeles CA'
 'Palm Springs CA' 'San Francisco-Oakland-San Jose CA'
 'Yakima-Pasco-Richland-Kennewick WA' 'Reno NV' 'Medford-Klamath Falls OR'
 'Seattle-Tacoma WA' 'Portland OR' 'Bend OR' 'San Diego CA'
 'Monterey-Salinas CA' 'Las Vegas NV'
 'Santa Barbara-Santa Maria-San Luis Obispo CA'
 'Sacramento-Stockton-Modesto CA' 'Fresno-Visalia CA' 'Chico-Redding CA'
 'Spokane WA']
210

In [8]:
ribcot['dma'] = ribcot['dma'].str.replace(' (Hagerstown MD)', '', regex=False)
print(ribcot['dma'].unique())

['Portland-Auburn ME' 'New York NY' 'Binghamton NY' 'Macon GA'
 'Philadelphia PA' 'Detroit MI' 'Boston MA-Manchester NH' 'Savannah GA'
 'Pittsburgh PA' 'Ft. Wayne IN' 'Cleveland-Akron (Canton) OH'
 'Washington DC' 'Baltimore MD' 'Flint-Saginaw-Bay City MI' 'Buffalo NY'
 'Cincinnati OH' 'Erie PA' 'Charlotte NC'
 'Greensboro-High Point-Winston Salem NC' 'Charleston SC' 'Augusta GA'
 'Providence RI-New Bedford MA' 'Columbus GA'
 'Burlington VT-Plattsburgh NY' 'Atlanta GA' 'Albany GA' 'Utica NY'
 'Indianapolis IN' 'Miami-Ft. Lauderdale FL' 'Louisville KY'
 'Tallahassee FL-Thomasville GA' 'Tri-Cities TN-VA'
 'Albany-Schenectady-Troy NY' 'Hartford & New Haven CT'
 'Orlando-Daytona Beach-Melbourne FL' 'Columbus OH' 'Youngstown OH'
 'Bangor ME' 'Rochester NY' 'Tampa-St. Petersburg (Sarasota) FL'
 'Traverse City-Cadillac MI' 'Lexington KY' 'Dayton OH'
 'Springfield-Holyoke MA' 'Norfolk-Portsmouth-Newport News VA'
 'Greenville-New Bern-Washington NC' 'Columbia SC' 'Toledo OH'
 'West Palm Beach-Ft. Pierce FL' 'Watertown NY' 'Wilmington NC'
 'Lansing MI' 'Presque Isle ME' 'Marquette MI'
 'Wheeling WV-Steubenville OH' 'Syracuse NY' 'Richmond-Petersburg VA'
 'Knoxville TN' 'Lima OH' 'Bluefield-Beckley-Oak Hill WV'
 'Raleigh-Durham (Fayetteville) NC' 'Jacksonville FL'
 'Grand Rapids-Kalamazoo-Battle Creek MI' 'Charleston-Huntington WV'
 'Elmira NY' 'Harrisburg-Lancaster-Lebanon-York PA'
 'Greenville-Spartanburg SC-Asheville NC-Anderson SC' 'Harrisonburg VA'
 'Florence-Myrtle Beach SC' 'Ft. Myers-Naples FL' 'Roanoke-Lynchburg VA'
 'Johnstown-Altoona PA' 'Chattanooga TN' 'Salisbury MD'
 'Wilkes Barre-Scranton PA' 'Terre Haute IN' 'Lafayette IN' 'Alpena MI'
 'Charlottesville VA' 'South Bend-Elkhart IN' 'Gainesville FL'
 'Zanesville OH' 'Parkersburg WV' 'Clarksburg-Weston WV'
 'Corpus Christi TX' 'Chicago IL' 'Joplin MO-Pittsburg KS'
 'Columbia-Jefferson City MO' 'Topeka KS' 'Dothan AL' 'St. Louis MO'
 'Rockford IL' 'Rochester MN-Mason City IA-Austin MN' 'Shreveport LA'
 'Minneapolis-St. Paul MN' 'Kansas City MO' 'Milwaukee WI' 'Houston TX'
 'Springfield MO' 'New Orleans LA' 'Dallas-Ft. Worth TX' 'Sioux City IA'
 'Waco-Temple-Bryan TX' 'Victoria TX' 'Wichita Falls TX & Lawton OK'
 'Monroe LA-El Dorado AR' 'Birmingham AL' 'Ottumwa IA-Kirksville MO'
 'Paducah KY-Cape Girardeau MO-Harrisburg-Mount Vernon IL'
 'Odessa-Midland TX' 'Amarillo TX' 'Austin TX'
 'Harlingen-Weslaco-Brownsville-McAllen TX'
 'Cedar Rapids-Waterloo-Iowa City & Dubuque IA' 'St. Joseph MO'
 'Jackson TN' 'Memphis TN' 'San Antonio TX' 'Lafayette LA'
 'Lake Charles LA' 'Alexandria LA' 'Greenwood-Greenville MS'
 'Champaign & Springfield-Decatur IL' 'Evansville IN' 'Oklahoma City OK'
 'Lubbock TX' 'Omaha NE' 'Panama City FL' 'Sherman TX-Ada OK'
 'Green Bay-Appleton WI' 'Nashville TN' 'San Angelo TX'
 'Abilene-Sweetwater TX' 'Madison WI'
 'Ft. Smith-Fayetteville-Springdale-Rogers AR' 'Tulsa OK'
 'Columbus-Tupelo-West Point MS' 'Peoria-Bloomington IL'
 'Duluth MN-Superior WI' 'Wichita-Hutchinson KS' 'Des Moines-Ames IA'
 'Davenport IA-Rock Island-Moline IL'
 'Mobile AL-Pensacola (Ft. Walton Beach) FL'
 'Minot-Bismarck-Dickinson(Williston) ND'
 'Huntsville-Decatur (Florence) AL' 'Beaumont-Port Arthur TX'
 'Little Rock-Pine Bluff AR' 'Montgomery (Selma) AL'
 'La Crosse-Eau Claire WI' 'Wausau-Rhinelander WI'
 'Tyler-Longview(Lufkin & Nacogdoches) TX' 'Hattiesburg-Laurel MS'
 'Meridian MS' 'Baton Rouge LA' 'Quincy IL-Hannibal MO-Keokuk IA'
 'Jackson MS' 'Lincoln & Hastings-Kearney NE' 'Fargo-Valley City ND'
 'Sioux Falls(Mitchell) SD' 'Jonesboro AR' 'Bowling Green KY' 'Mankato MN'
 'North Platte NE' 'Anchorage AK' 'Honolulu HI' 'Fairbanks AK'
 'Biloxi-Gulfport MS' 'Juneau AK' 'Laredo TX' 'Denver CO'
 'Colorado Springs-Pueblo CO' 'Phoenix AZ' 'Butte-Bozeman MT'
 'Great Falls MT' 'Billings, MT' 'Boise ID' 'Idaho Falls-Pocatello ID'
 'Cheyenne WY-Scottsbluff NE' 'Twin Falls ID' 'Missoula MT'
 'Rapid City SD' 'El Paso TX' 'Helena MT' 'Casper-Riverton WY'
 'Salt Lake City UT' 'Yuma AZ-El Centro CA' 'Grand Junction-Montrose CO'
 'Tucson (Sierra Vista) AZ' 'Albuquerque-Santa Fe NM' 'Glendive MT'
 'Bakersfield CA' 'Eugene OR' 'Eureka CA' 'Los Angeles CA'
 'Palm Springs CA' 'San Francisco-Oakland-San Jose CA'
 'Yakima-Pasco-Richland-Kennewick WA' 'Reno NV' 'Medford-Klamath Falls OR'
 'Seattle-Tacoma WA' 'Portland OR' 'Bend OR' 'San Diego CA'
 'Monterey-Salinas CA' 'Las Vegas NV'
 'Santa Barbara-Santa Maria-San Luis Obispo CA'
 'Sacramento-Stockton-Modesto CA' 'Fresno-Visalia CA' 'Chico-Redding CA'
 'Spokane WA']

In [9]:
def get_last_two_chars(dma):
  """
  Extracts the last two characters of a DMA string.

  Args:
    dma: The DMA string.

  Returns:
    The last two characters of the DMA string, or the original string if it has fewer than two characters.
  """
  if len(dma) >= 2 :
    return dma[-2:]
  else:
    return dma

In [10]:
ribcot['State'] = ribcot['dma'].map(get_last_two_chars)
print(ribcot.head())

                  dma  geoCode  2004+cancer  2004+cardiovascular  2004+stroke  \
0  Portland-Auburn ME      500           44                    6           17
1         New York NY      501           47                    6           13
2       Binghamton NY      502           48                    3           16
3            Macon GA      503           44                   14           14
4     Philadelphia PA      504           52                    7           16

   2004+depression  2004+rehab  2004+vaccine  2004+diarrhea  2004+obesity  \
0               39          21            31             14            29
1               38          16            33             12            27
2               50          12            37             24            31
3               37          19            49             14            29
4               41          23            36             14            30

   ...  2017+cancer  2017+cardiovascular  2017+stroke  2017+depression  \
0  ...           70                   37           83               64
1  ...           70                   34           53               56
2  ...           68                   24           71               69
3  ...           53                   38           62               46
4  ...           75                   35           61               62

   2017+rehab  2017+vaccine  2017+diarrhea  2017+obesity  2017+diabetes  State
0          56            76             66            47             80     ME
1          53            79             56            52             78     NY
2          44            77             78            61             72     NY
3          60            47             53            41             66     GA
4          75            84             69            56             78     PA

[5 rows x 129 columns]

In [11]:
ribcot_state = ribcot['State'].unique()
print(ribcot_state)
print(len(ribcot['State'].unique()))

# Compare ribcot_state and cdc_state
common_states = set(ribcot_state) & set(cdc_state)
print(f"Common states: {common_states}")

different_ribcot_states = set(ribcot_state) - set(cdc_state)
print(f"States in ribcot but not in cdc: {different_ribcot_states}")

different_cdc_states = set(cdc_state) - set(ribcot_state)
print(f"States in cdc but not in ribcot: {different_cdc_states}")

['ME' 'NY' 'GA' 'PA' 'MI' 'NH' 'IN' 'OH' 'DC' 'MD' 'NC' 'SC' 'MA' 'FL'
 'KY' 'VA' 'CT' 'TN' 'WV' 'TX' 'IL' 'KS' 'MO' 'AL' 'MN' 'LA' 'WI' 'IA'
 'OK' 'AR' 'MS' 'NE' 'ND' 'SD' 'AK' 'HI' 'CO' 'AZ' 'MT' 'ID' 'WY' 'UT'
 'CA' 'NM' 'OR' 'WA' 'NV']
47
Common states: {'GA', 'TN', 'SD', 'NC', 'AZ', 'DC', 'MT', 'OK', 'UT', 'OH', 'MI', 'SC', 'NV', 'AR', 'CO', 'MD', 'NY', 'OR', 'IA', 'CA', 'LA', 'AK', 'WI', 'IN', 'FL', 'KS', 'TX', 'WA', 'AL', 'KY', 'IL', 'PA', 'NE', 'HI', 'MS', 'MO'}
States in ribcot but not in cdc: {'MN', 'VA', 'ID', 'ME', 'WV', 'ND', 'NH', 'WY', 'NM', 'CT', 'MA'}
States in cdc but not in ribcot: set()

Rhode Island, Delware, Vermont, and New Jersey are not in RIBCOT, US is not a real code

In [12]:
plus_columns = [col for col in ribcot.columns if '+' in col]
print(plus_columns)

['2004+cancer', '2004+cardiovascular', '2004+stroke', '2004+depression', '2004+rehab', '2004+vaccine', '2004+diarrhea', '2004+obesity', '2004+diabetes', '2005+cancer', '2005+cardiovascular', '2005+stroke', '2005+depression', '2005+rehab', '2005+vaccine', '2005+diarrhea', '2005+obesity', '2005+diabetes', '2006+cancer', '2006+cardiovascular', '2006+stroke', '2006+depression', '2006+rehab', '2006+vaccine', '2006+diarrhea', '2006+obesity', '2006+diabetes', '2007+cancer', '2007+cardiovascular', '2007+stroke', '2007+depression', '2007+rehab', '2007+vaccine', '2007+diarrhea', '2007+obesity', '2007+diabetes', '2008+cancer', '2008+cardiovascular', '2008+stroke', '2008+depression', '2008+rehab', '2008+vaccine', '2008+diarrhea', '2008+obesity', '2008+diabetes', '2009+cancer', '2009+cardiovascular', '2009+stroke', '2009+depression', '2009+rehab', '2009+vaccine', '2009+diarrhea', '2009+obesity', '2009+diabetes', '2010+cancer', '2010+cardiovascular', '2010+stroke', '2010+depression', '2010+rehab', '2010+vaccine', '2010+diarrhea', '2010+obesity', '2010+diabetes', '2011+cancer', '2011+cardiovascular', '2011+stroke', '2011+depression', '2011+rehab', '2011+vaccine', '2011+diarrhea', '2011+obesity', '2011+diabetes', '2012+cancer', '2012+cardiovascular', '2012+stroke', '2012+depression', '2012+rehab', '2012+vaccine', '2012+diarrhea', '2012+obesity', '2012+diabetes', '2013+cancer', '2013+cardiovascular', '2013+stroke', '2013+depression', '2013+rehab', '2013+vaccine', '2013+diarrhea', '2013+obesity', '2013+diabetes', '2014+cancer', '2014+cardiovascular', '2014+stroke', '2014+depression', '2014+rehab', '2014+vaccine', '2014+diarrhea', '2014+obesity', '2014+diabetes', '2015+cancer', '2015+cardiovascular', '2015+stroke', '2015+depression', '2015+rehab', '2015+vaccine', '2015+diarrhea', '2015+obesity', '2015+diabetes', '2016+cancer', '2016+cardiovascular', '2016+stroke', '2016+depression', '2016+rehab', '2016+vaccine', '2016+diarrhea', '2016+obesity', '2016+diabetes', '2017+cancer', '2017+cardiovascular', '2017+stroke', '2017+depression', '2017+rehab', '2017+vaccine', '2017+diarrhea', '2017+obesity', '2017+diabetes']

In [13]:
ribcot_long = pd.melt(ribcot, id_vars=['dma', 'State', 'geoCode'],
                      value_vars=plus_columns,
                      var_name='temp',
                      value_name='value')

print(ribcot_long.head())
print(ribcot_long.shape)

                  dma State  geoCode         temp  value
0  Portland-Auburn ME    ME      500  2004+cancer     44
1         New York NY    NY      501  2004+cancer     47
2       Binghamton NY    NY      502  2004+cancer     48
3            Macon GA    GA      503  2004+cancer     44
4     Philadelphia PA    PA      504  2004+cancer     52
(26460, 5)

In [14]:
ribcot_long['Condition'] = ribcot_long['temp'].map(lambda y: y.split('+')[1])
ribcot_long['Year'] = ribcot_long['temp'].map(lambda y: int(y.split('+')[0]))
print(ribcot_long.head())

                  dma State  geoCode         temp  value Condition  Year
0  Portland-Auburn ME    ME      500  2004+cancer     44    cancer  2004
1         New York NY    NY      501  2004+cancer     47    cancer  2004
2       Binghamton NY    NY      502  2004+cancer     48    cancer  2004
3            Macon GA    GA      503  2004+cancer     44    cancer  2004
4     Philadelphia PA    PA      504  2004+cancer     52    cancer  2004

In [15]:
ribcot_long = ribcot_long.drop(columns=['temp'])
ribcot_wide = ribcot_long.pivot(index=['dma', 'State', 'geoCode', 'Year'],
                                columns='Condition',
                                values='value').reset_index()

In [16]:
print(ribcot_wide.head())
print(ribcot_wide.shape)
print(ribcot_wide.columns)

Condition                    dma State  geoCode  Year  cancer  cardiovascular  \
0          Abilene-Sweetwater TX    TX      662  2004      27               0
1          Abilene-Sweetwater TX    TX      662  2005      51              29
2          Abilene-Sweetwater TX    TX      662  2006      43              38
3          Abilene-Sweetwater TX    TX      662  2007      55              32
4          Abilene-Sweetwater TX    TX      662  2008      54               7

Condition  depression  diabetes  diarrhea  obesity  rehab  stroke  vaccine
0                  67        45        32       28     17      16       50
1                  10        21        30       29     57      36       23
2                  21        31        57       32     36      20       36
3                  32        61        26       32     72      64       28
4                  30        43        55       21     85      61       24
(2940, 13)
Index(['dma', 'State', 'geoCode', 'Year', 'cancer', 'cardiovascular',
       'depression', 'diabetes', 'diarrhea', 'obesity', 'rehab', 'stroke',
       'vaccine'],
      dtype='object', name='Condition')

In [17]:
ribcot_wide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dma             2940 non-null   object
 1   State           2940 non-null   object
 2   geoCode         2940 non-null   int64
 3   Year            2940 non-null   int64
 4   cancer          2940 non-null   int64
 5   cardiovascular  2940 non-null   int64
 6   depression      2940 non-null   int64
 7   diabetes        2940 non-null   int64
 8   diarrhea        2940 non-null   int64
 9   obesity         2940 non-null   int64
 10  rehab           2940 non-null   int64
 11  stroke          2940 non-null   int64
 12  vaccine         2940 non-null   int64
dtypes: int64(11), object(2)
memory usage: 298.7+ KB

In [18]:
ribcot_wide.to_csv('data/ribcot.csv', index=False)

No Null entries, ribcot cleaning complete